@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --zinc: hsl(0, 0%, 27%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'League Spartan', sans-serif;
  height: 100vh;
}